* {
  box-sizing: border-box;
}

body {
  background-color: #F3F4F9;
  padding: 15px;
  font-family: "Comic Relief", sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 412px;
  margin: auto;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
  background: #f3f4f9;
  border-radius: 20px;
}

.container {
  max-width: 300px;
  margin: auto;
}

.header {
  color: #fff;
  padding: 37px 77px 128px;
  background: linear-gradient(0deg, rgba(45, 37, 77, 0.6),
      rgba(45, 37, 77, 0.6)), url('../img/header-bg.png') no-repeat center / cover;
  border-radius: 10px 10px 90px 90px;
}

.hello {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.hello-text {
  margin-top: 17px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.user {
  margin-top: -43px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
}

.user-avatar {
  margin-top: -46px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.user-name {
  margin-top: 2px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.user-description {
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #a29b9b;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  margin: auto;
  gap: 10px;
}

.button {
  height: 40px;
  color: #fff;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  gap: 10px;
  margin-bottom: 6px;
}

.button.vk {
  background: #45668e;
}

.button.tg {
  background: #08c;
}

.button.yt {
  background: #ff1919;
}

.image-body_wrp {
  margin-top: 26px;
}

.image-body {
  border-radius: 10px;
  margin: auto;
  width: 100%;
  height: 210px;
  filter: brightness(50%)
}